<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DESTINY DASHBOARD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/neumorphism.css}" rel="stylesheet">
</head>
<body translate="no">
<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation"
         class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light">
        <div class="container position-relative">
            <a class="navbar-brand shadow-soft py-2 px-4 rounded border border-light ml-3" href="#">
                <img class="navbar-brand-light" th:src="@{/img/dark.svg}">
            </a>
        </div>
    </nav>
</header>
<main>
    <div class="section bg-primary section-lg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-primary shadow-soft border-light">
                        <div class="card-body p-5">
                            <h5 class="text-muted text-uppercase"><small>Total Balance: <span
                                    th:text="'$' + ${account.balance}"></span></small></h5>
                            <h5 class="text-muted text-uppercase"><small>USD Balance: <span
                                    th:text="'$' + ${account.usdBalance}"></span></small></h5>
                            <h5 class="text-muted text-uppercase"><small>Load Rate: <span
                                    th:text="${account.utilizeRate + '%'}"></span></small></h5>
                            <div class="progress">
                                <div class="progress-bar bg-gray"
                                     role="progressbar"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"
                                     th:style="'width: ' + ${account.utilizeRate} + '%;'"></div>
                            </div>
                            <span class="badge badge-success px-2 py-1 mt-1"
                                  th:text="${account.sharpUpRate} + '%'">22%</span>
                            <span class="badge badge-danger px-2 py-1"
                                  th:text="${account.sharpDownRate} + '%'">18%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pt-5">
                <div class="col-12 col-md-10">
                    <div class="alert alert-dark shadow-soft" role="alert" th:each="p : ${dashboard}">
                        <span class="badge badge-dark text-uppercase px-2 py-1" th:text="${p.productId}"
                              style="margin-bottom: 1px;">BTC-USD</span>
                        <span class="badge badge-success px-2 py-1" th:text="${p.completeRate + '%'}">25%</span>
                        <span class="badge badge-info px-2 py-1" th:text="${'C' + p.buyCount}">C3</span>
                        <span class="badge badge-warning px-2 py-1" th:text="'D' + ${p.buyDays}">D4</span>
                        <span class="badge badge-light px-2 py-1" th:if="${p.longTerm}">LT</span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pt-5">
                <div class="col-12">
                    <a class="btn btn-lg btn-primary" href="/" style="width: 100%"><span
                            class="fas fa-file-invoice"></span>HOME</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
