<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DESTINY DASHBOARD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .badge {
          border-radius:                    0px;
          -webkit-border-radius:            0px;
          -moz-border-radius:               0px;
        }
        .alert {
          border-radius:                    0px;
          -webkit-border-radius:            0px;
          -moz-border-radius:               0px;
        }

    </style>
</head>
<body>
<div class="container-fluid" style="padding: 20px;">
    <div class="row py-1">
        <div class="col-12">
            <div class="list-group font-monospace">
                <a href="#"
                   class="list-group-item list-group-item-action flex-column align-items-start active py-1 bg-dark">
                    <h6 class="mb-0">SUMMARY</h6>
                    <small class="text-muted">last update: -</small>
                    <small class="mb-1">Initial Fund: $5000</small><br/>
                    <small class="mb-1">Real Time Balance: -</small><br/>
                    <small>Stable ARR: -%</small><br/>
                    <small>Real Time ARR: -%</small><br/>
                    <small>Buy Times: -</small><br/>
                    <small>Sell Times: -</small>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-dismissible alert-dark p-1 px-3 mb-1" th:each="p : ${dashboard}">
                <span class="badge bg-dark px-2" th:text="${p.productId}"></span>
                <span class="badge bg-success px-2" th:text="${p.completeRate + '%'}"></span>
                <span class="badge bg-info px-2" th:text="${'C' + p.buyCount}"></span>
                <span class="badge bg-warning px-2" th:text="'D' + ${p.buyDays}"></span>
                <span class="badge bg-primary px-2" th:if="${p.longTerm}">LT</span>
            </div>
        </div>
        <div class="d-grid gap-2">
            <a class="btn btn-lg btn-primary font-monospace" href="/">Back Home</a>
        </div>
    </div>
</div>
</body>
</html>
