<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DESTINY DASHBOARD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.sketchy.min.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid" style="padding: 20px;">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <h3 class="card-header p-3 mb-1">DESTINY V3</h3>
                <img class="img-fluid p-3" th:src="@{/img/horde.png}" />
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="d-grid gap-2 pt-2">
            <a class="btn btn-lg btn-outline-primary p-3" href="/dashboard">ENTER DASHBOARD</a>
        </div>
    </div>
</div>
</body>
</html>
